@import "https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

body {
  background: lightslategray;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  height: 100vw;
}

h3 {
  font-weight: 400;
}

header {
  color: #333333;
  padding-top: 10vw;
  padding-bottom: 10vw;
  text-align: center;
}

small {
  opacity: 0.5;
  font-weight: 300;
}
.grooverTitle {
  color: orangered;
  letter-spacing: 1.3px;
}
.groover {
  color: black;
  text-shadow: 3px 5px 0px rgba(206, 89, 55, 0.77);
  letter-spacing: 1.3px;
}

h1,
h3,
h4 {
  color: wheat;
  font-style: bold;
}
.profile {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 64px;
  margin-top: 0;
}

.profileTitle {
  display: flex;
  justify-content: flex-start;
  margin-left: 64px;
  color: wheat;
  font-style: bold;
  letter-spacing: 1.3px;
}
.description {
  color: wheat;
  width: 650px;
  text-align: center;
  margin-top: 64px;
  line-height: 1.5;
  letter-spacing: 1.3px;
}

img {
  width: 280px;
  height: 200px;
  border-radius: 5%;
}

.objectifTitle {
  display: flex;
  justify-content: flex-end;
  margin-right: 64px;
  color: wheat;
  font-style: bold;
  letter-spacing: 1.3px;
}

.objectifs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 0px;
  align-items: center;
}

.objectifsDescription {
  color: wheat;
  width: 650px;
  text-align: center;
  margin-top: 64px;
  line-height: 1.5;
  margin-bottom: 132px;
  letter-spacing: 1.3px;
}

.realizationsTitle {
  display: flex;
  justify-content: center;
  color: wheat;
  font-style: bold;
  letter-spacing: 1.3px;
}

.realizations {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
}

.projetDescription li {
  color: wheat;
  line-height: 1.5;
  list-style: none;
  letter-spacing: 1.3px;
}

.projetDescription p li {
  list-style: none;
}
.projet1card,
.projet2card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projetDescription {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
  letter-spacing: 1.3px;
}

.card {
  background: #fff;
  color: rgb(61, 62, 65);
  width: 350px;
  height: 350px;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.02, 0.72, 0.67, 0.96);
  padding: 0 20px;
}

.realme {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  margin-top: 64px;
  letter-spacing: 1.3px;
}

.realmeDescription {
  color: wheat;
  line-height: 1.5;
  letter-spacing: 1.3px;
}

.clip {
  margin-top: 64px;
  margin-bottom: 64px;
}

.sixth {
  font-size: larger;
}
h2.sixth {
  position: relative;
}
.sixth {
  display: flex;
  justify-content: center;
}
h2.sixth:before,
h2.sixth:after {
  content: "[";
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.25em;
  color: wheat;

  transition: all 0.5s ease;
}

h2.sixth:after {
  content: "]";
}

h2.sixth:hover:before {
  transform: translateX(-5px);
}

h2.sixth:hover:after {
  transform: translateX(5px);
}

h4 {
  font-style: italic;
  font-size: small;
  margin-top: 32px;
  text-align: center;
}

.logos img {
  width: 80px;
  height: 80px;
}

.logos {
  margin-top: 92px;
  display: flex;
  justify-content: space-evenly;
}
hr.hr-1 {
  border: 0;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .header {
    width: 100vw;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }

  .objectifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }

  .realizations {
    display: block;
    justify-content: space-evenly;
    width: 100vw;
  }
}

body {
  /* font-family: "Poppins", sans-serif; */
  color: white;
  /* background: rgb(244, 67, 54); */
    /* background: linear-gradient(83deg, rgba(244, 67, 54, 1) 0%, rgba(255, 87, 34, 1) 100%); */
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


/* Carrousel */

.carousel {
  padding: 30px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.carousel__container {
  padding-bottom: 10px;
  width: 100%;
  margin: 70px auto;
  display: contents;
  white-space: nowrap;
}

.carousel--item {
  display: inline-block;
  position: relative;
  margin: 10px 8px;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: lightblue;
  overflow: hidden;
  cursor: pointer;
  transition: 350ms all;
  transform-origin: center left;
}

.carousel--item:hover ~ .carousel--item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel--item {
  opacity: 0.3;
}

.carousel__container:hover .carousel--item:hover {
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.carousel--item:hover .carousel--item__details {
  opacity: 1;
}

.carousel--item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel--item__details {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 10px;
  /* background: linear-gradient(83deg, rgba(244, 67, 54, 0.8) 0%, rgba(255, 87, 34, 0.1) 100%); */
  opacity: 0;
  transition: 350ms opacity;
}
.carousel--item__details img {
  margin: 0 5px;
  width: 20px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}